base64 in JWT tokens are not padded with '=' characters

I am using dotnet core 2.2.100. In my API i generate JWT tokens using `System.IdentityModel.Token.Jwt`. The token returned however has invalid base64.

The length of the base64 should be a multiple of 4. If the length is not a multiple of 4, it should be right padded with '=' characters.

With the following code snippet

```csharp
private string GetJwtToken(ClaimsIdentity identity)
{
    var secretKey = new SymmetricSecurityKey(Encoding.UTF8.GetBytes(_jwtSettings.SigningKey));
    var signingCredentials = new SigningCredentials(secretKey, SecurityAlgorithms.HmacSha256);

    var token = new JwtSecurityToken(
        issuer: _jwtSettings.Issuer,
        // audience: "http://localhost:5000",
        claims: identity.Claims,
        expires: DateTime.Now.AddHours(12),
        signingCredentials: signingCredentials
    );

    return new JwtSecurityTokenHandler().WriteToken(token);
}
```

I get the following JWT Token:

> eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiamQiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9lbWFpbGFkZHJlc3MiOiJqb2huLmRvZUBleGFtcGxlLmNvbSIsImV4cCI6MTU0Nzk2NjA3NCwiaXNzIjoibG9jYWxob3N0OjUwMDEifQ.wB5vNNNX2ql2Sg4Nm-kCEwDR5jiPwRunktuRty3dBug

The first part of the JWT token is fine, as the length is a multiple of 4 (length: 36). The second part however:

> eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiamQiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9lbWFpbGFkZHJlc3MiOiJqb2huLmRvZUBleGFtcGxlLmNvbSIsImV4cCI6MTU0Nzk2NjA3NCwiaXNzIjoibG9jYWxob3N0OjUwMDEifQ

has 266 characters, meaning it should be right padded with two equal characters:

> eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiamQiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9lbWFpbGFkZHJlc3MiOiJqb2huLmRvZUBleGFtcGxlLmNvbSIsImV4cCI6MTU0Nzk2NjA3NCwiaXNzIjoibG9jYWxob3N0OjUwMDEifQ==

The first one can be decoded by JavaScript, but some languages, such as dart, cannot decode the base64 if the length is not a multiple of 4.

JWS's base64 is defined to NOT include the trailing padding characters.

https://tools.ietf.org/html/rfc7515#section-2:

>    Base64url Encoding
>       Base64 encoding using the URL- and filename-safe character set
>       defined in Section 5 of RFC 4648 [RFC4648], **with all trailing '='
>       characters omitted** (as permitted by Section 3.2) and without the
>       inclusion of any line breaks, whitespace, or other additional
>       characters.  Note that the base64url encoding of the empty octet
>       sequence is the empty string.  (See Appendix C for notes on
>       implementing base64url encoding without padding.)

<sub>(emphasis mine)</sub>

That said, https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet is where JwtSecurityToken (and all of JWT) lives.

Oh well sorry for that, that explains a lot. I also couldn't understand why such an error would even exist. 